<% if( providers ) { %>
<div class="divider"></div>
<div class="section">
    <% providers.forEach(function(provider) { %>
    <div class="row center-align">
        <div class="col s12">
            <button onclick="location.href = '<%= provider.url %>';" class="waves-effect waves-light btn blue-grey lighten-5 black-text">Sign in with <%= provider.name %></button>
        </div>
    </div>
    <% }); %>
</div>
<% } %>