<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Account updated"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>Success!</h4>
          <p>
            Your <%= renderDetails.updatedProperty %> has been updated.
          </p>
          <a href="<%= renderDetails.redirectUri %>">Go back</a>
        </div>
      </div>
    </div>
</body>

</html>