<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Add passwordless login"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <div id="error" class="card-panel red lighten-3 hide">
            Something went wrong during registration, try again.
          </div>
          <h4>Add passwordless login</h4>
          <form method="POST" action="./webauthn/credentials" name="passwordlessLoginForm">
            <input type="hidden" name="uuid" value="<%- user.id %>" />
            <input type="hidden" id="id" name="id" />
            <input type="hidden" id="clientDataJSON" name="clientDataJSON" />
            <input type="hidden" id="attestationObject" name="attestationObject" />
            <div class="input-field">
              <input type="text" id="name" name="name" />
              <label for="name">Name</label>
              <span class="helper-text">Add a name to this credential so that you can identify it later (e.g. "John's laptop", "My iPhone")</span>
            </div>
          </form>
          <button class="btn" id="activate">Activate</button>
          <div class="center-align hide" id="loading">
            <div class="preloader-wrapper active">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("./partials/webauthn-script.ejs"); %>
  <script>
    (async function() {
      var details = <%- renderDetails %>;
      
      try {
        const challenge = await getChallenge(details.params.client_id);
        document.querySelector('#activate').addEventListener('click', async function() {
          document.querySelector('#activate').classList.add('hide');
          document.querySelector('#loading').classList.remove('hide');
          const credential = await createCredential(challenge);
        })
      } catch (e) {
        console.log(e);
        document.querySelector('#activate').classList.remove('hide');
        document.querySelector('#error').classList.remove('hide');
      }

      async function createCredential(challenge) {
        if (!PublicKeyCredential || typeof PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable !== "function") {
          throw new Error("WebAuthn APIs are not available on this user agent.");
        }

        var createCredentialOptions = {
          rp: {
            name: "<%- webAuthn.rp_name %>",
            icon: "<%- webAuthn.rp_icon %>"
          },
          user: {
            id: stringToArrayBuffer("<%- user.id %>"),
            name: "<%- user.name %>",
            displayName: "<%- user.displayName %>",
          },
          pubKeyCredParams: [
            {
              //External authenticators support the ES256 algorithm
              type: "public-key",
              alg: -7
            },
            {
              //Windows Hello supports the RS256 algorithm
              type: "public-key",
              alg: -257
            }
          ],
          authenticatorSelection: {
            //Select authenticators that support username-less flows
            requireResidentKey: true,
            //Select authenticators that have a second factor (e.g. PIN, Bio)
            userVerification: "required",
            //Selects between bound or detachable authenticators, omit to allow both
            // authenticatorAttachment: "platform" // or "cross-platform"
          },
          //Since Edge shows UI, it is better to select larger timeout values
          timeout: 50000,
          //an opaque challenge that the authenticator signs over
          challenge: challenge,
          //prevent re-registration by specifying existing credentials here
          // excludeCredentials: [],
          //specifies whether you need an attestation statement
          // attestation: "none"
        };

        const rawAttestation = await navigator.credentials.create({
          publicKey: createCredentialOptions
        });

        document.getElementById("id").value = base64encode(rawAttestation.rawId);
        document.getElementById("clientDataJSON").value = arrayBufferToString(rawAttestation.response.clientDataJSON);
        document.getElementById("attestationObject").value = base64encode(rawAttestation.response.attestationObject);
        document.passwordlessLoginForm.submit();
      }
    })();
  </script>
</body>

</html>
