<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Change your password"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <div id="invalid_credentials" class="card-panel red lighten-3 hide">
            Current password is incorrect. Try again.
          </div>
          <div id="generic_error" class="card-panel red lighten-3 hide">
            An error occurred.
          </div>
          <h4>Change your password</h4>
          <form method="POST">
            <input type="hidden" name="profile_type" value="profile">
            <% if( requireCurrentPassword ) { %>
            <div class="input-field">
              <input type="password" id="currentPassword" name="currentPassword">
              <label for="currentPassword">Current password</label>
            </div>
            <% } %>
            <div class="input-field">
              <input type="password" id="password" name="password">
              <label for="password">New password</label>
            </div>
            <div class="input-field">
              <input type="password" id="confirmPassword" name="confirmPassword">
              <label for="confirmPassword">Confirm new password</label>
            </div>
            <button disabled="disabled" class="btn">Update password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    var passwordInput = document.getElementById("password");
    var confirmPasswordInput = document.getElementById("confirmPassword");
    var submitButton = document.querySelector("button");

    passwordInput.addEventListener("input", enableButtonIfBothFieldsMatch);
    confirmPasswordInput.addEventListener("input", enableButtonIfBothFieldsMatch);

    function enableButtonIfBothFieldsMatch() {
      submitButton.disabled = passwordInput.value !== confirmPasswordInput.value;
    }

    var details = <%= renderDetails %>;
    var error = details.miaa && details.miaa.error;

    if (error) {
      var element = document.querySelector('#' + details.miaa.error) || document.querySelector('#generic_error');
      if (element) {
        element.classList.remove('hide');
      }
    }
  </script>
</body>

</html>