<!DOCTYPE html>
<html>

<head>
    <%- include("partials/header", { title: "Device Confirmed" }); %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel">
                    <div class="section">
                        <h4>Success</h4>
                        <div>You have successfully set up your device!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
