<!DOCTYPE html>
<html>

<head>
    <%- include("partials/header", { title: "Confirm Device" }); %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel">
                    <div id="error" class="card-panel red lighten-3 hide">

                    </div>
                    <div class="section">
                        <h4>Verify device</h4>
                        <form method="POST">
                            <div>Please confirm the device is showing the following code:</div>
                            <div><%- userCode %></div>
                            <input type="hidden" name="userCode" value="<%- userCode %>" />
                            <div>Please also confirm that you trust this device:</div>
                            <div>
                                <ul>
                                    <li>IP Address: <%- deviceInfo.ip %></li>
                                    <li>User Agent: <%- deviceInfo.userAgent %></li>
                                </ul>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var error = "<%- error %>";
        if (error) {
            document.querySelector('#error').innerText = error;
            document.querySelector('#error').classList.remove('hide');
        }
    </script>
</body>

</html>
