<!DOCTYPE html>
<html>

<head>
    <%- include("partials/header", { title: "Confirm Device" }); %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel">
                    <div id="error" class="card-panel red lighten-3 hide">
                        
                    </div>
                    <div class="section">
                        <h4>Verify device</h4>
                        <form method="POST">
                            <div>Please enter the code shown on the device:</div>
                            <input type="text" name="userCode" />
                            <button class="btn waves-effect waves-light" type="submit">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var error = "<%- error %>";
        if (error) {
            document.querySelector('#error').innerText = error;
            document.querySelector('#error').classList.remove('hide');
        }
    </script>

</body>

</html>
