<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Consent"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <div id="error" class="card-panel red lighten-3 hide">
            Something went wrong. Try again.
          </div>
          <div class="section">
            <h4>Consent required</h4>
            <form method="POST" action="<%= details.miaa.links.consent %>">
              <% if( details.enterpriseConsents && details.enterpriseConsents.consentsThatRequireUserInput && Object.keys(details.enterpriseConsents.consentsThatRequireUserInput).length) { %>
              <div>To continue please agree to the following conditions:</div>
                  <% Object.keys(details.enterpriseConsents.consentsThatRequireUserInput).forEach(function(consent) { %>
                    <p>
                      <label>
                        <input type="checkbox" class="filled-in" name="<%= consent %>" id="<%= consent %>" value="true" required/>
                        <span><%= details.enterpriseConsents.consentsThatRequireUserInput[consent].join(", ") %></span>
                      </label>
                      <input type="hidden" name="<%= consent %>" id="<%= consent %>-hidden" value="false">
                    </p>
                  <% }); %>
              <% } %>
              <% if( details.consents && details.consents.consentsThatRequireUserInput && Object.keys(details.consents.consentsThatRequireUserInput).length ) { %>
              <div>The application is requesting access to the following info:</div>
              <table>
                <tbody>
                  <% Object.keys(details.consents.consentsThatRequireUserInput).forEach(function(consent) { %>
                  <tr>
                    <th><%= details.consents.consentsThatRequireUserInput[consent].join(", ") %></th>
                    <th>
                      <div class="switch center">
                        <label>
                          Deny
                          <input type="checkbox" name="<%= consent %>" id="<%= consent %>" value="true">
                          <span class="lever"></span>
                          Allow
                        </label>
                        <input type="hidden" name="<%= consent %>" id="<%= consent %>-hidden" value="false">
                      </div>
                    </th>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
              <% } %>
              <div class="section">
                <button class="btn waves-effect waves-light" type="submit">Save consents</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var details = <%- renderDetails %>;
    var error = details.miaa && details.miaa.error;

    if (error) {
      document.querySelector('#error').classList.remove('hide');
      document.querySelector('#email').value = error.data.email;
    }
  </script>
</body>

</html>
