<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Verify your email"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>Verify Your email.</h4>
          <div id="error" class="card-panel red lighten-3 hide">
            Your email is not yet verified.
          </div>
          <div id="error-failed" class="card-panel red lighten-3 hide">
            Your email verification has failed. Please try again.
          </div>
          <form method="POST">
            <input type="hidden" name="clientId" value="<%- JSON.parse(renderDetails).params.client_id %>">
            <input type="hidden" name="profile_type" value="profile">
            <div class="input-field">
              <input id="email" type="text" name="email">
              <label for="email">Email</label>
            </div>
            <button class="btn waves-effect waves-light">Resend verification email</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    var details = <%- renderDetails %>;
    var error = details.miaa && details.miaa.error;
    if (error) {
      if (error === "email_verification_failed") {
        document.querySelector('#error-failed').classList.remove('hide');
      } else {
        document.querySelector('#error').classList.remove('hide');
      }
    }
  </script>
</body>

</html>