<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Email verified"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>Email verified</h4>
          <p>
            You are now permitted to <a href="<%= details.miaa.links.login %>">login</a>.
          <P>
        </div>
      </div>
    </div>
  </div>
</body>

</html>