<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Something went wrong</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <style>
    body {
      overflow: hidden;
    }

    html,
    body {
      font-family: sans-serif;
      min-height: 100%;
      display: flex;
      justify-content: center;
      color: #274c5e;
    }

    .container {
      text-align: center;
      max-width: 800px;
      width: 100%;
      margin-top: 10%;
    }

    .title {
      font-size: 2rem;
      font-weight: lighter;
    }

    .description {
      font-size: 1.2rem;
      font-weight: lighter;
      margin-bottom: 15px;
    }

    .cog {
      width: 10rem;
      height: 10rem;
      fill: #EE522D;
      transform: rotate(30deg);
    }

    .collapse {
      cursor: pointer;
      font-size: 0.8rem;
    }

    .collapse+input {
      display: none;
    }

    .collapse+input+div {
      height: 0;
    }

    .collapse+input:checked+div {
      height: 250px;
    }

    .collapsible {
      overflow: scroll;
      text-align: left;
      max-height: 200px;
      transition: all .3s ease-in-out;
      font-size: 0.8rem;
    }

    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #EE522D;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 1em;
      margin-right: 0.25em;
    }

    blockquote p {
      display: inline;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="icons">
      <svg class="cog" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <path d="M29.18 19.07c-1.678-2.908-.668-6.634 2.256-8.328L28.29 5.295c-.897.527-1.942.83-3.057.83-3.36 0-6.085-2.743-6.085-6.126h-6.29c.01 1.043-.25 2.102-.81 3.07-1.68 2.907-5.41 3.896-8.34 2.21L.566 10.727c.905.515 1.69 1.268 2.246 2.234 1.677 2.904.673 6.624-2.24 8.32l3.145 5.447c.895-.522 1.935-.82 3.044-.82 3.35 0 6.066 2.725 6.083 6.092h6.29c-.004-1.035.258-2.08.81-3.04 1.676-2.902 5.4-3.893 8.325-2.218l3.145-5.447c-.9-.515-1.678-1.266-2.232-2.226zM16 22.48c-3.578 0-6.48-2.902-6.48-6.48S12.423 9.52 16 9.52c3.578 0 6.48 2.902 6.48 6.48s-2.902 6.48-6.48 6.48z" /></svg>
    </div>
    <h1 class="title">Something went wrong</h1>
    <div class="description">Something went wrong while handling this request.</div>
    <div class="description">Please try again later.</div>
    <blockquote class="error-message">
        <%- error.error %>
        <% if (error.description) { %>
          <%= error.description %>
        <% } %>
    </blockquote>
    <label class="collapse" for="_1">Show/hide details</label>
    <input id="_1" type="checkbox">
    <div class="collapsible">
      Query string:
      <pre class="error-stack"><%= renderDetails %></pre>

      Stack / State:
      <blockquote class="error-stack">
        <%= error.stack %>
      </blockquote>
    </div>

    <script>
      var details = <%- renderDetails %>;
    </script>
</body>

</html>
