<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Disclaimer"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>Disclaimer</h4>
          <p>Please make sure to properly log out of fimnet.</p>
          <div id="error" class="card-panel red lighten-3 hide">
            Something went wrong.
          </div>
          <form method="POST">
            <button class="btn">Continue</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    var details = <%- renderDetails %>;
    var error = details.miaa && details.miaa.error;
    if (error) {
      document.querySelector('#error').classList.remove('hide');
    }
  </script>
</body>

</html>