<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Forgot your password?"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>You've got mail!</h4>
          <p>
            You will receive an email with instructions to reset your password soon on <%= details.miaa.userinfo.email %>.
          </p>
          <p>
            Didn't receive the email? Check your spam folders or <a href="<%= details.miaa.links.forgotPassword %>"">resend the email</a>.
          <P>
        </div>
        <div class="right-align">
          <a href="<%= details.miaa.links.login %>"">Back</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>