<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Forgot your password?"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>Forgot your password?</h4>
          <p>Don't worry, we can reset it in just a couple of clicks!</p>
          <p>
            Fill in your email address below, click <strong>Request new password</strong> and you will receive an
            email with a link to reset your
            password.
          </p>
          <form method="POST">
            <input type="hidden" name="clientId" value="<%- JSON.parse(renderDetails).params.client_id %>">
            <input type="hidden" name="profile_type" value="profile">
            <div class="input-field">
              <input id="email" type="text" name="email">
              <label for="email">Email</label>
            </div>
            <button class="btn waves-effect waves-light">Request new password</button>
          </form>
        </div>
        <div class="right-align">
          <a href="<%= details.miaa.links.login %>">Back</a>
        </div>
      </div>
    </div>
  </div>
  <!-- TODO: we probably need to handle possible errors here or would we redirect to a different tpl? In all other cases we do not do that. -->
</body>

</html>