<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Invitation"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <div id="error" class="card-panel red lighten-3 hide">
            Something went wrong during registration, try again.
          </div>
          <h4>Complete your account</h4>
          <form method="POST">
            <input type="hidden" name="profile_id" value="<%= details.params.profile_id %>">
            <input type="hidden" name="profile_type" value="profile">
            <input type="hidden" name="collection" value="traditionalRegistration">
            <div class="input-field">
              <input id="email" type="text" name="email">
              <label for="email">Email</label>
            </div>
            <div class="input-field">
              <input type="password" id="password" name="password">
              <label for="password">Password</label>
            </div>
            <div id="consents"></div>
            <%if (details.miaa && details.miaa.supportsWebAuthn) { %>
            <p id="webauthn" class="hide">
              <label>
                <input type="checkbox" id="allowWebAuthn" name="allowWebAuthn" />
                <span>Allow passwordless login</span>
              </label>
            </p>
            <% } %>
            <% if( details.enterpriseConsents && details.enterpriseConsents.consentsThatRequireUserInput && Object.keys(details.enterpriseConsents.consentsThatRequireUserInput).length) { %>
            <div>To continue please agree to the following conditions:</div>
                <% Object.keys(details.enterpriseConsents.consentsThatRequireUserInput).forEach(function(consent) { %>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" name="<%= consent %>" id="<%= consent %>" value="true" required/>
                      <span><%= details.enterpriseConsents.consentsThatRequireUserInput[consent].join(", ") %></span>
                    </label>
                    <input type="hidden" name="<%= consent %>" id="<%= consent %>-hidden" value="false">
                  </p>
                <% }); %>
            <% } %>
            <button class="btn waves-effect waves-light">Register</button>
          </form>
        </div>
        <div class="right-align">
            Already have an account? <a href="<%= details.miaa.links.login %>"">Sign in!</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    var details = <%- renderDetails %>;
    var error = details.miaa && details.miaa.error;
    if (error) {
      document.querySelector('#error').classList.remove('hide');
      document.querySelector('#email').value = error.data.email;
    }

    <%if (details.miaa && details.miaa.supportsWebAuthn) { %>
    //Update UI to reflect availability of platform authenticator
    if (PublicKeyCredential && typeof PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable === "function") {
      PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable().then(available => {
        if (available) {
          document.getElementById('webauthn').classList.remove('hide');
        }
      });
    }
    <% } %>
  </script>
</body>

</html>
