<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Log-in"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <div id="error" class="card-panel red lighten-3 hide">
            Email or password are incorrect. Try again.
          </div>
          <div id="lockout" class="card-panel red lighten-3 hide">
            Too many failed attempts, this account is locked for ${duration}.
          </div>
          <div id="email_not_verified" class="card-panel orange lighten-3 hide">
            Verify your email before logging in.
          </div>
          <div class="section">
            <h4>Welcome</h4>
            <form method="POST">
              <div class="input-field">
                <input id="email" type="text" name="email">
                <label for="email">Email</label>
              </div>
              <div class="input-field">
                <input type="password" id="password" name="password">
                <label for="password">Password</label>
                <span class="helper-text" data-error="wrong" data-success="right">
                  Forgot your password? <a href="<%= details.miaa.links.forgotPassword %>">Request a new one!</a>
                </span>
              </div>
              <button class="btn waves-effect waves-light">Sign in</button>
            </form>
          </div>
          <%if (details.miaa && details.miaa.supportsWebAuthn) { %>
          <div class="section hide" id="webauthn">
            <form method="POST" action="./webauthn/assertion" name="passwordlessLoginForm">
              <input type="hidden" id="assertionId" name="assertionId" />
              <input type="hidden" id="clientDataJSON" name="clientDataJSON" />
              <input type="hidden" id="userHandle" name="userHandle" />
              <input type="hidden" id="signature" name="signature" />
              <input type="hidden" id="authenticatorData" name="authenticatorData" />
            </form>
            <%if (details.miaa.webAuthnCredentials && details.miaa.webAuthnCredentials.length > 0) { %>
              Log in as:
              <div class="collection">
              <% for (var i=0; i < details.miaa.webAuthnCredentials.length; i++) {%>
                <a class="collection-item" href="#" onclick="passwordlessLoginClicked('<%= details.miaa.webAuthnCredentials[i].credentialId %>')">
                  <%= details.miaa.webAuthnCredentials[i].email %> (<%= details.miaa.webAuthnCredentials[i].name %>)
                </a>
              <% } %>
              </div>
            <% } %>
            <a href="#" onclick="passwordlessLoginClicked()" class="waves-effect waves-light btn blue-grey lighten-5 black-text">Passwordless login</a>
          </div>
          <% } %>
          <%- include("partials/providers", { providers: details.miaa && details.miaa.providers }); %>
        </div>
        <div class="right-align">
          Don't have an account yet? <a href="<%= details.miaa.links.register %>">Register now!</a>
        </div>
      </div>
    </div>
  </div>

  <%if (details.miaa && details.miaa.supportsWebAuthn) { %>
  <%- include("partials/webauthn-script.ejs"); %>
  <% } %>

  <script>
    var details = <%- renderDetails %>;
    var error = details.miaa && details.miaa.error;
    var challenge = null;

    if (error) {
      switch(error.code) {
        case 'lockout':
          var lockout = document.querySelector('#lockout');
          lockout.textContent = lockout.textContent.replace('${duration}', error.data.details.message);
          lockout.classList.remove('hide');
          break;
        case 'email_not_verified':
          document.querySelector('#email_not_verified').classList.remove('hide');  
          break;
        default:
          document.querySelector('#error').classList.remove('hide');
          break;  
      }
      document.querySelector('#email').value = error.data.email;
    }

    <%if (details.miaa && details.miaa.supportsWebAuthn) { %>
    //Update UI to reflect availability of platform authenticator
    if (PublicKeyCredential && typeof PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable === "function") {
      PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable().then(async available => {
        if (available) {
          try {
            document.getElementById('webauthn').classList.remove('hide');
            challenge = await getChallenge(details.params.client_id);
          } catch(e) {
            console.log(e);
            document.getElementById('webauthn').classList.add('hide');
          }
        }
      });
    }

    async function passwordlessLoginClicked(credentialId) {
      if (!challenge) {
        challenge = await getChallenge(details.params.client_id);
      }

      const assertion = await getAssertion(challenge, credentialId);
      document.getElementById("assertionId").value = assertion.id;
      document.getElementById("clientDataJSON").value = assertion.clientDataJSON;
      document.getElementById("userHandle").value = assertion.userHandle;
      document.getElementById("signature").value = assertion.signature;
      document.getElementById("authenticatorData").value = assertion.authenticatorData;
      document.passwordlessLoginForm.submit();
    }
    <% } %>
  </script>
</body>

</html>
