<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Merge"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>Hey, we know you!</h4>
          <div class="section">
            There's an existing account for the email address <strong class="display-email"></strong>. Please log in
            below to verify you are the owner and to merge it with your <strong class="message-social-account"></strong>
            account.
          </div>
          <div id="error" class="card-panel red lighten-3 hide">
            We couldn't determine you are the owner of the <strong class="message-social-account"></strong> account.
            Make sure you log in using another social account with the same email address.
          </div>
          <%- include("partials/providers", { providers: details.miaa && details.miaa.providers }); %>
        </div>
      </div>
    </div>
  </div>
  <script>
    var details = <%- renderDetails %>;
    var socialProfile = details.miaa && details.miaa.socialProfile;
    var error = details.miaa && details.miaa.error;

    if (error) {
      document.querySelector('#error').classList.remove('hide');
    }

    // Fill in fields
    document.querySelectorAll(".display-email").forEach(function (el) {
      el.innerText = socialProfile.profile.email;
    });
    document.querySelectorAll(".message-social-account").forEach(function (el) {
      el.innerText = socialProfile.domain;
    });
  </script>
</body>

</html>