<!DOCTYPE html>
<html>

<head>
    <%- include("partials/header", { title: "Merge"}); %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel">
                    <h4>Hey, we know you!</h4>
                    <div class="section">
                        There's an existing account for the email address <strong class="display-email"></strong>.
                        Please log in below to verify you are the owner and to merge it with your <strong id="message-social-account"></strong> account.
                    </div>
                    <div id="error" class="card-panel red lighten-3 hide">
                        Password is incorrect. Try again.
                    </div>
                    <form method="POST">
                        <input type="hidden" name="profile_type" value="profile">
                        <label for="email">Email</label>
                        <div class="display-email"></div>
                        <div class="input-field">
                            <input type="password" id="password" name="password">
                            <label for="password">Password</label>
                            <span class="helper-text" data-error="wrong" data-success="right">
                                Forgot your password? <a href="<%= details.miaa.links.forgotPassword %>"">Request a new one!</a>
                            </span>
                        </div>

                        <button class="btn">Merge</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var details = <%- renderDetails %>;
        var error = details.miaa && details.miaa.error;
        var socialProfile = details.miaa && details.miaa.socialProfile;

        if (error) {
            document.querySelector('#error').classList.remove('hide');
        }

        // Fill in fields
        document.querySelectorAll(".display-email").forEach(function (el) {
            el.innerText = socialProfile.profile.email;
        });
        document.getElementById("message-social-account").innerText = socialProfile.domain; // TODO: pass the normalized name as well to the UI?

        // Add hidden profile field. TODO: This seems a bad practice, we should read the profile information from cookie or tmp storage in BE?
        var profileInput = document.createElement('input');
        profileInput.name = "social_profile";
        profileInput.value = JSON.stringify(socialProfile);
        profileInput.type = "hidden";
        document.querySelector("form").appendChild(profileInput);
    </script>
</body>

</html>