<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Login Verification"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <div id="error" class="card-panel red lighten-3 hide">
            Something went wrong.
          </div>
          <div id="error-failed" class="card-panel red lighten-3 hide">
            Verification failed. Did you enter the correct code?
          </div>
          <div id="error-mfa-lockout" class="card-panel red lighten-3 hide">
            You have made too many failed attempts. Please wait <span id="lockoutDuration"></span>.
          </div>
          <h4>Check your email</h4>
          <p>Please enter the code that was emailed to you.</p>
          <form method="POST" action='<%= details.miaa.links["mfa/passCode"] %>'>
            <div class="input-field">
              <input id="passCode" type="text" name="passCode">
              <label for="passCode">Code</label>
            </div>
            <input id="userId" type="hidden" name="userId" value="<%- details.miaa.userId %>" />
            <button class="btn waves-effect waves-light">Verify</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    var details = <%- renderDetails %>;
    var error = details.miaa && details.miaa.error;
    if (error) {
      if (error.code === "factor_verification_failed") {
        document.querySelector('#error-failed').classList.remove('hide');
      } else if (error.code === "mfa_lockout") {
        document.querySelector('#error-mfa-lockout').classList.remove('hide');
        document.querySelector('#lockoutDuration').innerText = error.data.details.message;
      } else {
        document.querySelector('#error').classList.remove('hide');
      }

      document.querySelector('#userId').value = error.data.userId;
    }
  </script>
</body>

</html>
