<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Register"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>We're almost there!</h4>
          <div id="error" class="card-panel red lighten-3 hide">
            Something went wrong during registration, try again.
          </div>
          <p class="">
            Verify following information is correct to finalize your registration.
          </p>
          <form method="POST">
            <input type="hidden" name="profile_type" value="profile">
            <input type="hidden" name="collection" value="socialRegistration">
            <div class="input-field">
              <input type="text" id="email" name="email">
              <label for="email">Email</label>
            </div>
            <div class="input-field">
              <input type="text" id="given_name" name="given_name">
              <label for="given_name">First Name</label>
            </div>
            <div class="input-field">
              <input type="text" id="family_name" name="family_name">
              <label for="family_name">Last Name</label>
            </div>
            <button class="btn">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    var details = <%- renderDetails %>;
    var error = details.miaa && details.miaa.error;
    if (error) {
      document.querySelector('#error').classList.remove('hide');
      document.querySelector('#email').value = error.data.email;
    }
    var socialProfile = details.miaa && details.miaa.socialProfile;

    // Fill in fields
    var emailInput = document.querySelector('#email');
    emailInput.value = socialProfile.profile.email;

    // Add hidden profile field. TODO: This seems a bad practice, we should read the profile information from cookie or tmp storage in BE?
    var profileInput = document.createElement('input');
    profileInput.name = "social_profile";
    profileInput.value = JSON.stringify(socialProfile);
    profileInput.type = "hidden";
    document.querySelector("form").appendChild(profileInput);
  </script>
</body>

</html>