<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Registration almost complete" }); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>Almost done!</h4>
          <div>To complete your registration you must first verify your email address (<%= details.miaa.userinfo.email %>).</div>
          <div>Didn't receive an email? Try again below.</div>
          <form method="POST">
            <input type="hidden" name="clientId" value="<%- JSON.parse(renderDetails).params.client_id %>">
            <input type="hidden" name="profile_type" value="profile">
            <div class="input-field">
              <input id="email" type="text" name="email">
              <label for="email">Email</label>
            </div>
            <button class="btn waves-effect waves-light">Resend verification email</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>