<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Reset successful"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>Success!</h4>
          <p>
            Your password has been successfully reset.
          </p>
          <p>
            <form method="POST">
              <button class="btn waves-effect waves-light">Continue</button>
            </form>
          <P>
        </div>
        <div class="right-align">
          <a href="<%= details.miaa.links.login %>"">Back</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>