<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Reset your password"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <h4>Choose a new password</h4>
          <div id="error" class="card-panel red lighten-3 hide">
            Something went wrong while trying to reset your password. Please try again.
          </div>
          <form method="POST">
            <input type="hidden" name="profile_type" value="profile">
            <input type="hidden" name="token" value="<%- details.params.request_token %>">
            <div class="input-field">
              <input type="password" id="password" name="password">
              <label for="password">New password</label>
            </div>
            <button class="btn">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    var details = <%- renderDetails %>;
    var error = details.miaa && details.miaa.error;
    if (error) {
      document.querySelector('#error').classList.remove('hide');
    }
  </script>
</body>

</html>