<!DOCTYPE html>
<html>

<head>
  <%- include("partials/header", { title: "Add passwordless login"}); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          <div id="error" class="card-panel red lighten-3 hide">
            Something went wrong. Your device doesn't seem to support passwordless login.
          </div>
          <h4>Please verify the login with your login device</h4>
          <form method="POST" action="./webauthn/assertion" name="passwordlessLoginForm">
            <input type="hidden" id="assertionId" name="assertionId" />
            <input type="hidden" id="clientDataJSON" name="clientDataJSON" />
            <input type="hidden" id="userHandle" name="userHandle" />
            <input type="hidden" id="signature" name="signature" />
            <input type="hidden" id="authenticatorData" name="authenticatorData" />
          </form>
          <%if (webAuthn.credentials && webAuthn.credentials.length > 0) { %>
            Use:
            <div class="collection">
            <% for (var i=0; i < webAuthn.credentials.length; i++) {%>
              <a class="collection-item" href="#" onclick="passwordlessLoginClicked('<%= webAuthn.credentials[i].credentialId %>')">
                <%= webAuthn.credentials[i].name %>
              </a>
            <% } %>
            </div>
          <% } %>
          <a href="#" onclick="passwordlessLoginClicked()" class="waves-effect waves-light btn blue-grey lighten-5 black-text">Log in with another device</a>
          <div class="center-align hide" id="loading">
            <div class="preloader-wrapper active">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("./partials/webauthn-script.ejs"); %>
  <script>
    var details = <%- renderDetails %>;
    var challenge = null;

    //Update UI to reflect availability of platform authenticator
    if (PublicKeyCredential && typeof PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable === "function") {
      PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable().then(async available => {
        if (available) {
          challenge = await getChallenge(details.params.client_id);
        } else {
          document.getElementById('error').classList.remove('hide');
        }
      });
    }

    async function passwordlessLoginClicked(credentialId) {
      if (!challenge) {
        challenge = await getChallenge(details.params.client_id);
      }
      
      const assertion = await getAssertion(challenge, credentialId);
      document.getElementById("assertionId").value = assertion.id;
      document.getElementById("clientDataJSON").value = assertion.clientDataJSON;
      document.getElementById("userHandle").value = assertion.userHandle;
      document.getElementById("signature").value = assertion.signature;
      document.getElementById("authenticatorData").value = assertion.authenticatorData;
      document.passwordlessLoginForm.submit();
    }
  </script>
</body>

</html>
